@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<!--Author:Prakash Bl Dhakal Date:2023/21/03
    Dummy button added for look and feel only.
-->
<h1>Choose a Plan Here!</h1>
<button class="btn-dark">Two Whealer</button>
<button class="btn-warning">Four Whealer</button>
<button class="btn-secondary">House Plan</button>
<p>All Rights Reserve.Himalayan Everest Insurance.</p>
