@page "/SignUp"
@model Blog.Pages.Auth.SignUpModel
@{
    ViewData["Title"] = "SignUp";
}
<div class="container box-shadow  text-black">
    <form method="post">
        <div class="row p-1 m-2">
            <div class="col-md-4"
                <label for="Email">User Email</label>
                <input type="text" class="form-control" id="Email"  placeholder="Enter Email" asp-for=" SignUpDTO.UserEmail">
                <span asp-validation-for=" SignUpDTO.UserEmail" class="text-danger"></span>
            </div>
        </div>
        <div class="row p-1 m-2">
            <div class="col-md-4">
                <label for="Password">User Password</label>
                <input type="text" class="form-control" id="Password" placeholder="Enter password" asp-for=" SignUpDTO.UserPassword">
                <span asp-validation-for=" SignUpDTO.UserPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="row p-1 m-2">
            <div class="col-md-4">
                <label for="ConfirmPassword">Confirm Password</label>
                <input type="text" class="form-control" id="ConfirmPassword" placeholder="Confirm Password" asp-for=" SignUpDTO.ConfirmPassword">
                <span asp-validation-for=" SignUpDTO.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="row p-3 mt-4">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-success">Sign Up</button>
                </div>
            </div>
    </form>
</div>