@page "/"
@model Blog.Pages.View.HomePageModel
@{
}
<!--Author:Prakash Bl dhakal,Date:2023/21/03
This section enable all user to show that info which guid user to create account or simply login-->

<div class="container p-5">
    <p class="container  p-5">
        <h1>Welcome To Our Page! Please SignUp to Read  and Create Blogs.</h1>
        <h3 class="text-center text-muted p-5">HEI-Nepal</h3>
    </p>

</div>

